<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--输出位置-->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!--输出方式-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern> [%p] %d{yyyy-MM-dd HH:mm:ss}
                %m %n</pattern>
        </layout>
    </appender>
    <!--根日志级别-->
    <root level="ERROR">
        <appender-ref ref="stdout"/>
    </root>
    <!--子日志级别-->
    <logger name="com.baizhi.dao" level="DEBUG"/>
</configuration>